@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", "sans-serif" !important;
}

.title {
    width: 60%;
    margin: auto;
    text-align: center;
}

.footer {
    width: 60%;
    margin: 30px auto;
    text-align: center;
}

.footer .left {
    text-align: right;
}

.footer .right {
    text-align: left;
}

.footer p {
    margin-bottom: 0;
}

/* Chelsea */
.container {
    margin-top: 30px;
}

select .form-select {
    width: 30%;
}

.x-axis-label, .y-axis-label {
    font-size: 11px;
}