@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", "sans-serif";
}

.title {
    width: 60%;
    margin: auto;
    text-align: center;
}

/* Footer */
footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e8e8e8;
    text-align: center;
    padding: 30px;
}